<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="@{/home}">Home</a></li>
     <li class="breadcrumb-item active">Profil</li>
  </ol>
</nav>

<div class="container">

    <div class="starter-template"  >
        <h1>Profil</h1>

        <h1 th:inline="text">Hello </h1>
        <div th:text="${ session.userDetail.user.email }"></div>
        <form th:action="@{/logout}" method="get">
            <input type="submit" value="Sign Out"/>
        </form>
    </div>

</div>
<!-- /.container -->

</body>
</html>