<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>PayMyBuddy</title>

    <div th:replace="fragments/header :: header-css"/>

</head>
<body>

<div th:replace="fragments/header :: header"/>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="@{/home}">Home</a></li>
     <li class="breadcrumb-item active">Transfer</li>
  </ol>
</nav>

<div class="container">

	<div class="row">
		<div class="col-md-2">Send Money</div>
		<div class="col-md-offset-10"><input type="submit" class="btn btn-lg btn-primary btn-block" value="Add Connection"/></div>
	</div>
	
	<div class="row select-connection">
	  <div class="col-md-4">  
	  	<select class="form-control input-lg" id="selectConnection">
		    <option >Choose Connection...</option>
		    <option value="1">One</option>
		    <option value="2">Two</option>
		    <option value="3">Three</option>
  		</select>
  	  </div>
	  <div class="col-md-4"><input type="number" name="amount" id="username" class="form-control input-lg" placeholder="amount" required="true" autofocus="true"/></div>
	  <div class="col-md-4"><input type="submit" class="btn btn-lg btn-primary btn-block" value="Pay"/></div>
	</div>
	
	</div>
<div class="container">
	<div class ="row">
	<div class="col-mod4 my-transactions">My Transactions</div>
	</div>
    <div class="row">
        <div class="col-md-12">
            <table id="example" class="table table-bordered" style="width: 100%">
                <thead>
                <tr class="title">
                    <th>Connection</th>
                    <th>Description</th>
                    <th>Amount</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Name</td>
                    <td>Position</td>
                    <td>Office</td>
                </tr>
                </tbody>
            </table>

            
        </div>
        <div class="col-md-12">
	        <nav aria-label="Page navigation">
			  <ul class="pagination">
			    <li>
			      <a href="#" aria-label="Previous">
			        <span aria-hidden="true">&laquo;</span>
			      </a>
			    </li>
			    <li><a href="#">1</a></li>
			    <li><a href="#">2</a></li>
			    <li><a href="#">3</a></li>
			    <li><a href="#">4</a></li>
			    <li><a href="#">5</a></li>
			    <li>
			      <a href="#" aria-label="Next">
			        <span aria-hidden="true">&raquo;</span>
			      </a>
			    </li>
			  </ul>
			</nav>
		</div>
    </div>
</div>


<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>